<div class="row">
  <div class= "small-1 columns">&nbsp</div>
  <div class= "small-10 columns">
    <br />
    <h1><%= current_user.organization.name %>'s Ideas</h1>
  </div>
  <div class= "small-1 columns">&nbsp</div>
</div>
<br />

<div class="row">
  <div class= "small-1 columns">&nbsp</div>
  <div class= "small-10 medium-5 large-5 columns">
    <%= form_tag ideas_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], :placeholder => "Search by idea or contributor's name" %>
        <%= submit_tag "Search", :name => nil %>
      </p>
    <% end %>

    <table class="my-tables">
      <thead>
        <tr>
          <th>Idea Title</th>
          <th>Contributor Name</th>
          <th>Edit Idea</th>
          <th>Delete Idea</th>
        </tr>
      </thead>

      <tbody>
        <% for idea in @ideas %>
          <tr>
            <td><%= link_to idea.title, idea_path(idea) %></td>
            <td><%= idea.user.name %></td>
            <td><%= link_to "Edit", edit_idea_path(idea), :class => 'button tiny radius', :style => 'padding:10px; margin:0px' %></td>
            <td><%= link_to "Delete", idea_path(idea), :method => :delete, :class => 'button tiny alert radius', :style => 'padding:10px; margin:0px' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class= "small-1 medium-6 large-6 columns">&nbsp</div>
</div>