<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Short desc:</strong>
  <%= @idea.short_desc %>
</p>

<p>
  <strong>Long desc:</strong>
  <%= @idea.long_desc %>
</p>

<p>
  <strong>Idea support url:</strong>
  <%= @idea.idea_support_url %>
</p>

<p>
  <strong>Category:</strong>
  <%= @idea.category %>
</p>

<p>
  <strong>Coffer:</strong>
  <%= @idea.coffer %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
