<!-- Main Content Section -->
<div class="row" style="padding-top:25px">    
  <div class="small-0 medium-3 large-3 columns">
    <div id="categoryImage" style="padding-left:25px">
      <% case @idea.category %>
      <% when "1" %>
      <%= image_tag('sales.png') %>
      <% when "2" %>
      <%= image_tag('production.png') %>
      <% when "3" %>
      <%= image_tag('money.png') %>
      <% else %>
      <%= image_tag('social.jpg') %>
      <% end %>
    </div>
  </div>

  <!-- <div class="small-0 medium-1 large-1 columns">&nbsp</div> -->

  <!-- Idea and comments panel -->
  <div class="small-12 medium-5 large-5 columns" style="padding-left:50px;padding-right:0px">
    <h1><%= @idea.title %></h1>
    <h4>By <%= @idea.user.name %></h4>
    <p><%= @idea.long_desc %></p>
    <br/>
    <div><%= render "comments/form" %></div>
    <div class="comment-wall"></div>
  </div>
  
  <div class="small-0 medium-1 large-1 columns">&nbsp</div>

  <!-- Contribution panel -->
  <div class="small-0 medium-3 large-3 columns">
    <div><%= render "ideas/tapSlider" %></div>
    <div class="tapCount">
    <div class="tapCount" style="width:200px">
      <h5>Idea tap count:</h5>
      <br/>
      <div style="border-radius:80px; width:160px; height:160px; border:solid black 5px;padding:10px">  
        <h2 style="text-align:center; line-height:120px">
          <span id="coffer-count"><%= @idea.coffer %></span>
        <h2>
    </div>
  </div>   
</div>

<!-- Hidden forms for updating current_user.wallet and @idea.coffer -->
<%= form_for(current_user, remote: true) do |f| %>
  <%= f.number_field :wallet, style: "#{'display:none'}" %>
<% end %>

<%= form_for(@idea, remote: true) do |f| %>
  <%= f.number_field :coffer, style: "#{'display:none'}" %>
<% end %>

<!-- Comment Template -->
<div id="templates">
  <script type="text/template" class="comment">
    <div class="row panel radius comment">
      <div class="small-12 columns">
        <p>{ username }</p>
        <p>{ body }</p>
      </div>
    </div>
    <br/>
  </script>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
(function () {

  ////////////////////////
  // TAPS CONTRIBUTIONS //
  ////////////////////////

  // Set POST route for new transactions
  g.userTransactionUrl = '<%= user_transaction_api_path(current_user) %>'

  // Update contribution amount on slide event
  var $tapsSlider = $('input#taps-slider');
  
  $($tapsSlider).change(function(e) {
    e.preventDefault;
    var newVal = $(this).val();
    $('#contribution-amount').text(newVal);
  });

  // Update database when contribution made
  $('#contribute-taps').on('click', function(e) {
    e.preventDefault;
    var contributionAmount = +$tapsSlider.val();
    var ideaID = '<%= @idea.id %>';

    // Deduct contribution amount from current_user.wallet
    var $userWallet = $('input#user_wallet');
    var $walletAmount = $('#wallet-amount');
    var walletBegBal = +$userWallet.val();
    var walletNewBal = (walletBegBal - contributionAmount);
    $userWallet.val(walletNewBal);
    $walletAmount.text(walletNewBal);

    // Add contribution amount to @idea.coffer
    var $ideaCoffer = $('input#idea_coffer');
    var $cofferCount = $('#coffer-count');
    var cofferBegBal = +$ideaCoffer.val();
    var cofferNewBal = (cofferBegBal + contributionAmount);
    $ideaCoffer.val(cofferNewBal);
    $cofferCount.text(cofferNewBal);

    // POST request for new transaction and trigger PUT request for user and idea
    var newTransaction = {
      amount: contributionAmount,
      idea_id: ideaID
    };
    $.post(g.userTransactionUrl, newTransaction, function() {
      $('form.edit_user, form.edit_idea').trigger('submit');
      console.log("Transaction posted to database.");
      // Reset defaults without needing refresh
      $('span#wallet-max').text(walletNewBal);
      $('input#taps-slider').attr('max', walletNewBal);
      $tapsSlider.val(0);
      $('#contribution-amount').text(0);
    });
  });
  //////////////
  // COMMENTS //
  //////////////

  // Set POST route for new comments
  g.ideaCommentsUrl = '<%= idea_comment_api_path(@idea) %>';

  // Create comments model instance
  var ideaComments = new Comment();

  var currentUserID = <%= current_user.id %>;
  var commenterName = '<%= current_user.name %>';

  // Initialize CommentForm and CommentWall presenters
  var formPresenter = new CommentForm({
    root: $('form.new-comment'),
    comments: ideaComments,
    user_id: currentUserID,
    username: commenterName
  });

  var wallPresenter = new CommentWall({
    root: $('.comment-wall'),
    comments: ideaComments
  });

  var serverComments = <%= raw @idea.comments.to_json %>;

  ideaComments.initializeComments(serverComments);

})();
</script>
<% end %>