<dl class="tabs" data-tab>
  <dd class="active"><a href="#panel2-1">Tab 1</a></dd>
  <dd><a href="#panel2-2">Tab 2</a></dd>
  <dd><a href="#panel2-3">Tab 3</a></dd>
  <dd><a href="#panel2-4">Tab 4</a></dd>
</dl>
<div class="tabs-content large-12 columns">
  <div class="content active" id="panel2-1">
 



<!-- Header and Nav -->  
<!--   <div class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100&text=IdeaTap" /></h1>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list right">
        <li><a href="#">Section 1</a></li>
        <li><a href="#">Section 2</a></li>
        <li><a href="#">Section 3</a></li>
      </ul>
    </div>
  </div> -->
  
  <!-- End Header and Nav -->
  
  <!-- Main Content Section -->
  <div class="row">    
    <div class="small-0 medium-2 large-2 columns">
      <div><%= image_tag('money.gif') %></div>
      <div><%= image_tag('sales.png') %></div>
      <div><%= image_tag('production.png') %></div>
      <div><%= image_tag('header_artwork.png') %></div>
      <div><%= image_tag('cdetorres_IBM_icons2_hero_06.png') %></div>
      <div><%= image_tag('2-IBM_electronic-industry.jpg') %></div>
      <div><%= image_tag('us__none__energy__smart_grid_icon__350x240.jpg') %></div>
      <div><%= image_tag('mobile_icon_620.png.png') %></div>
      <div><%= image_tag('hr.gif') %></div>
    </div>
    <div class="small-12 medium-6 large-7 columns">
      <h1><%= @idea.title %></h1>
      <h4>By <%= @idea.user.name %></h4>
      <p><%= @idea.long_desc %></p>
      <br/>
      <div><%= render "comments/form" %></div>
    </div>
    <div class="small-0 medium-4 large-3 columns">
      <div><%= render "ideas/tapSlider" %></div>
    </div>   
  </div>
    

<!-- Hidden forms for updating current_user.wallet and @idea.coffer -->
<%= form_for(current_user, remote: true) do |f| %>
  <%= f.number_field :wallet, style: "#{'display:none'}" %>
<% end %>

<%= form_for(@idea, remote: true) do |f| %>
  <%= f.number_field :coffer, style: "#{'display:none'}" %>
<% end %>

<!-- Comment Wall -->
<div class="row">
  <div class="small-0 medium-2 large-2 columns">&nbsp</div>
  <div class="small-12 medium-6 large-7 columns">
    <div class="comment-wall"></div>
  </div>
  <div class="small-0 medium-4 large-3 columns">&nbsp</div>
</div>


<!-- Idea Template -->
<div id="templates">
  <script type="text/template" class="comment">
    <div class="row panel radius comment">
      <div class="small-1 columns"></div>
      <div class="small-10 small columns">
        <p><%= @idea.user.name %></p>
        <p>{ body }</p>
      </div>
      <div class="small-1 columns"></div>
    </div>
  </script>
</div>

<!-- Footer -->
<!-- <footer class="row">
  <div class="large-12 columns">
    <hr />
    <div class="row">
      <div class="large-6 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Section 1</a></li>
          <li><a href="#">Section 2</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
        </ul>
      </div>
    </div>
  </div> 
</footer>  -->


   
  </div>
  <div class="content" id="panel2-2">
    <p>Second panel content goes here...</p>
  </div>
  <div class="content" id="panel2-3">
    <p>Third panel content goes here...</p>
  </div>
  <div class="content" id="panel2-4">
    <p>Fourth panel content goes here...</p>
  </div>
</div>



<% content_for :javascript do %>
<script type="text/javascript">
(function () {

  ////////////////////////
  // TAPS CONTRIBUTIONS //
  ////////////////////////

  // Set POST route for new transactions
  g.userTransactionUrl = '<%= user_transaction_api_path(current_user) %>'

  // Update contribution amount on slide event
  var $tapsSlider = $('input#taps-slider');
  
  $($tapsSlider).change(function(e) {
    e.preventDefault;
    var newVal = $(this).val();
    $('#contribution-amount').text(newVal);
  });

  // Update database when contribution made
  $('#contribute-taps').on('click', function(e) {
    e.preventDefault;
    var contributionAmount = $tapsSlider.val();
    var ideaID = '<%= @idea.id %>';

    // Deduct contribution amount from current_user.wallet
    var $userWallet = $('input#user_wallet');
    var walletBegBal = $userWallet.val();
    var walletNewBal = (walletBegBal - contributionAmount);
    $userWallet.val(walletNewBal);

    // Add contribution amount to @idea.coffer
    var $ideaCoffer = $('input#idea_coffer');
    var cofferBegBal = $ideaCoffer.val();
    $ideaCoffer.val(cofferBegBal - (-1*contributionAmount));

    // POST request for new transaction and trigger PUT request for user and idea
    var newTransaction = {
      amount: contributionAmount,
      idea_id: ideaID
    };
    $.post(g.userTransactionUrl, newTransaction, function() {
      $('form.edit_user, form.edit_idea').trigger('submit');
      console.log("Transaction posted to database.");
      // Reset defaults without needing refresh
      $('span#wallet-max').text(walletNewBal);
      $('input#taps-slider').attr('max', walletNewBal);
      $tapsSlider.val(0);
      $('#contribution-amount').text(0);
    });
  });
  //////////////
  // COMMENTS //
  //////////////

  // Set POST route for new comments
  g.ideaCommentsUrl = '<%= idea_comment_api_path(@idea) %>';

  // Create comments model instance
  var ideaComments = new Comment();

  var currentUserID = <%= current_user.id %>;

  // Initialize CommentForm and CommentWall presenters
  var formPresenter = new CommentForm({
    root: $('form.new-comment'),
    comments: ideaComments,
    user_id: currentUserID
  });

  var wallPresenter = new CommentWall({
    root: $('.comment-wall'),
    comments: ideaComments
  });

  var serverComments = <%= raw @idea.comments.to_json %>;

  ideaComments.initializeComments(serverComments);

})();
</script>
<% end %>