<!-- 
<div class="row">
  <div class="small-12">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>
 -->
<div class="row" id="dashboard-row">
  <div class="small-12 columns">
    <dl class="tabs vertical" data-tab>
      <h3 id="my-dashboard">My Dashboard</h3>
      <hr>
      <dd class="active"><a class="tab-panel" href="#panel1">My Ideas</a></dd>
      <hr>
      <dd><a class="tab-panel" href="#panel2"><%= current_user.organization.name %>'s Top Ideas</a></dd>
      <hr>
      <dd><a class="tab-panel" href="#panel3">My Contributions</a></dd>
      <hr>
      <%= admin_rights do %>
        <dd><a class="tab-panel" href="#panel4">Admin Dashboard</a></dd>
      <% end %>
      <hr>
    </dl>
  </div>
</div>

<div class="row" id="panel-row">
  <div class="small-12 columns">
    <div class="tabs-content vertical">
      <div class="content active" id="panel1">
        <%= render 'my_ideas' %>
      </div>
      <div class="content" id="panel2">
        <%= render 'my_org_ideas' %>
      </div>
      <div class="content" id="panel3">
        <%= render 'my_contributions' %>
      </div>
      <div class="content" id="panel4">
        <%= render 'admin_dashboard' %>
      </div>
    </div>
  </div>
<div>

