<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">IdeaTap</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <%= user_logged_out do %>
        <li><a href="#" name="about-button">About</a></li>
        <li><a name="signin-dropdown" href="#" data-dropdown="signin">Sign in</a></li>
      <% end %>
      <%= user_logged_in do %>
        <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
      <% end %>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">

    </ul>
  </section>
</nav>

<!-- Sign In Dropdown -->
<div id="signin" name="signin" class="f-dropdown small content" data-dropdown-content>
  <!-- Sign In Form -->
  <h5>Sign in</h5>
  <br/>
  <%= form_for(:user, :url => session_path(:user)) do |f| %>
    <%= f.text_field :email, placeholder: 'email' %>
    <%= f.password_field :password, placeholder: 'password' %>
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me %>
    <%= f.submit 'Sign in', :class => 'button tiny' %>
  <% end %>
  <hr>
  <div class="button tiny alert" id="forgot-button">Forgot password?</div>
</div>

<div name="forgot-password" class="f-dropdown small content" data-dropdown-content>
  <h5>Retrieve password</h5>
  <br/>
  <%= form_for(:user, :url => new_password_path(:user), :html => { :method => :post }) do |f| %>
    <%= f.email_field :email, placeholder: 'email' %>
    <%= f.submit "Send me reset password instructions", :class => 'button tiny' %>
  <% end %>
  <hr>
  <div class="button tiny alert" id="back-to-signin-button">Back to sign in</div>
</div>