<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Ideatap" %></title>

    <%= stylesheet_link_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="top-bar" data-topbar>
      <section class="top-bar-section">
        <ul class="right">
          <% if user_signed_in? %>
            <li><%= link_to('Sign Out', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><a href="#" data-dropdown="signin">Sign In</a></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <!-- Sign In Dropdown -->
    <div id="signin" class="f-dropdown small content" data-dropdown-content>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email, placeholder: 'email' %>
        <%= f.password_field :password, placeholder: 'password' %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path(:user) %>
      <% end %>
    </div>


    <%= yield %>

    <script type="text/javascript">
      window.g = {};
      g.userIdeasUrl = '<%= user_idea_api_path(current_user) %>';
    </script>
    <%= javascript_include_tag "application" %>
    <%= yield :javascript %>
  </body>
</html>